* {
    appearance: none;
    background: none transparent;
    border: 0 solid #000;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #000;
    font: 100% sans-serif;
}
